[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Start Here...
Type=Link
Icon=EnterpriseLibreHelpAndSupport
URL=http://wiki.enterpriselibre.org/
Comment=Start Here to learn more about the EnterpriseLibre Desktop and Services
GenericName=Start Here...
