[Desktop Entry]
Name=Content Management
Comment=Enterprise web site management
Encoding=UTF-8
Version=1.0
Type=Application
Exec=firefox "http://blog.[-DOMAIN-]/"
Terminal=false
StartupNotify=true
Icon=drupal
