#
# smtp.domainneverused.net.cnf
#

[ req ]
prompt                  = no
distinguished_name      = smtp.domainneverused.net

[ smtp.domainneverused.net ]
commonName              = smtp.domainneverused.net
stateOrProvinceName     = ON
countryName             = CA
emailAddress            = hostmaster@domainneverused.net
organizationName        = domainneverused
organizationalUnitName  = IT Department
