Dear [%=firstname%] [%=lastname%],
Your Cloud is now being created at EnterpriseLibre! You can expect to log in to your new Cloud within a few hours. You will receive a welcome e-mail with details on your account when your Cloud is ready.
Sincerely,
The EnterpriseLibre Team
---
You received this email because you just subscribed to an EnterpriseLibre cloud. If this email reached you in error for any reason, please let us know immediately.
