Dear [%=firstname%] [%=lastname%],
Your Cloud is now being created at CirrusComputing! You can expect to log in to your new Cloud within a few hours. You will receive a welcome e-mail with details on your account when your Cloud is ready.
Sincerely,
The CirrusComputing Team
