Dear [%=firstname%] [%=lastname%],
We regret to inform you that an error occured while processing your new organization. Rest assured that our system administration team is aware of this issue, and is working to resolve it as quickly as possible.
Sincerely,
The CirrusComputing Team
