Dear Admin,
A customer tried to create the following organization with an Email Domain (or corresponding Network Name) that is used by another organization. Please clean the existing organization first before running C4.
Organization's Formal Name: [%=firstname%]
Email Domain: [%=lastname%]
Network Name: [%=lastname%]
