Dear Admin,
A customer tried to create the following organization with an Email Domain (or corresponding Network Name) that is used by another organization. Please clean the existing organization first before running C4.
Organization's Formal Name: [%=firstname%]
Email Domain: [%=lastname%]
Network Name: [%=lastname%]
Sincerely,
The EnterpriseLibre Team
---
You received this email because you just changed the settings of your EnterpriseLibre cloud. If this email reached you in error for any reason, please let us know immediately.
