[Desktop Entry]
Name=Cloud Manager
Comment=Change your password, manage desktops
Encoding=UTF-8
Version=1.0
Type=Application
Exec=sudo /usr/local/bin/CirrusOpenCloudManager
Terminal=false
StartupNotify=true
Category=GNOME;Application;Core;
Icon=CirrusOpenCloudManager
