[Desktop Entry]
Type=Application
MimeType=application/x-gnucash;
Version=0.9.4
Name=Accounting
Name[cs]=Správa financí GnuCash
Name[de_CH]=GnuCash Finanzverwaltung
Name[el]=Διαχείριση οικονομικών GnuCash
Name[en_GB]=GnuCash Finance Management
Name[es]=Gestión de finanzas GnuCash
Name[fr]=Gestionnaire de finances GnuCash
Name[hu]=GnuCash Pénzügyi Igazgatás
Name[nb]=GnuCash finansforvaltning
Name[ne]=जिएनयुक्यास वित्त व्यवस्थापन
Name[nl]=GnuCash financiën beheer
Name[pt_BR]=Gerenciador de Finanças GnuCash
Name[ro]=GnuCash - administrarea finanţelor
Name[uk]=Керування фінансами GnuCash
Name[vi]=Quản lý Tài chính GnuCash
Name[zh_TW]=GnuCash 金融管理
Comment=Double-entry accounting
Comment[cs]=Spravovat vaše finance, účty a investice
Comment[de_CH]=Der Finanzmanager für Buchführung, Online-Banking und Investments
Comment[en_GB]=Manage your finances, accounts, and investments
Comment[es]=Gestione sus finanzas, cuentas e inversiones
Comment[eu]=Kudeatu zure finantzak, kontuak eta inbertsioak
Comment[fr]=Gérez vos finances, vos comptes et vos investissements
Comment[hu]=Igazgassa pénzügyeit, számláit és befektetéseit
Comment[nb]=Forvalt dine finanser, kontoer og investeringer
Comment[ne]=तपाईँको वित्तहरू, खाताहरू, र लगानीहरू प्रबन्ध गर्नुहोस्
Comment[nl]=Beheer uw financiën, rekeningen en investeringen
Comment[pt_BR]=Gerencie suas finanças, contas e investimentos
Comment[ro]=Administrează-ţi finanţele, conturile şi investiţiile
Comment[uk]=Керування вашими фінансами, рахунками та інвестиціями
Comment[vi]=Quản lý tài chính, các tài khoản và vốn cố định
Exec=gnucash %f
Icon=gnucash-icon
StartupNotify=true
Terminal=false
Categories=Office;Finance;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=GnuCash
X-GNOME-Bugzilla-Component=General
X-GNOME-Bugzilla-Version=2.2.9
X-GNOME-DocPath=gnucash/gnucash.xml
