Dear [% full_name %],
A "[% error_message %]" request was received. This could not be completed as your cloud was still being configured at that instant. Please check back later.
Enjoy!
The EnterpriseLibre Team
---
You received this email because you just changed the settings of your EnterpriseLibre cloud. If this email reached you in error for any reason, please let us know immediately.