<html>
 <body>
  <p>Dear Superuser,</p>
  
  <p>Your entire cloud has been rebooted.</p>
  <p>---</p>

  <p>Enjoy your cloud to the fullest!  If you have any questions at or need any assistance at all, please don't hesitate to contact us through our website support page and we will be glad to help.</p>

  <p>Best regards,</p>
  <p>Cirrus Open</p>
---
  <p>You received this email because you just changed the settings of your Cirrus Open cloud. If this email reached you in error for any reason, please let us know immediately.</p>
 </body>
</html>
