Dear Superuser,
  
Your entire cloud has been rebooted.

Enjoy your cloud to the fullest!  If you have any questions at or need any assistance at all, please don't hesitate to contact us through our website support page and we will be glad to help.

Best regards,
EnterpriseLibre
---
You received this email because you just changed the settings of your EnterpriseLibre cloud. If this email reached you in error for any reason, please let us know immediately.