
Dear Superuser,

The following domain is already in use by another organization:

	Domain - [% email_domain %]

Enjoy!
The Cirrus Open Team
---
You received this email because you just changed the settings of your Cirrus Open cloud. If this email reached you in error for any reason, please let us know immediately.