<html>
 <body>
  <p>Dear Superuser,</p>
  <p>C3 has reported a method error for cloud [% network_name %].</p>
  <p>[% error_message %]</p>                                                            
  <p>Best regards,<br\>
EnterpriseLibre </p>
---
  <p>You received this email because you just changed the settings of your EnterpriseLibre cloud. If this email reached you in error for any reason, please let us know immediately.</p>
 </body>
</html>
