<html>
 <body>
  <p>Dear [% full_name %],</p>
  <p>Your Notify Address has been changed.</p>
  <p>For your information the details are as follows:</p>
  <ul>
   <li>Notify Address: [% real_email %]</li>
  </ul>
  <p>Enjoy!<br />
The EnterpriseLibre Team</p>
---
  <p>You received this email because you just changed the settings of your EnterpriseLibre user account. If this email reached you in error for any reason, please let us know immediately.</p>
 </body>
</html>
