<html>
 <body>
  <p>Dear [% administrator_first_name %] [% administrator_last_name %],</p>
  <p>The Notify Address has been changed for [% first_name %] [% last_name %].</p>
  <p>For your information the details are as follows:</p>
  <ul>
   <li>Username: [% username %]</li>
   <li>Email Prefix: [% email_prefix %]</li>
   <li>Notify Address: [% real_email %]</li>
  </ul>
  <p>Enjoy!<br />
The Cirrus Open Team</p>
---
  <p>You received this email because the settings of a user with your Cirrus Open cloud were just changed. If this email reached you in error for any reason, please let us know immediately.</p>
 </body>
</html>
