<html>
 <body>
  <p>Dear [% full_name %],</p>
[% IF is_reset == '1' %]
  <p>Your password has been changed by your cloud superuser to: [% password %]</p>
[% ELSE %]
  <p>Your password has been changed.</p>
[% END %]
  <p>If you have existing instant start links, your new password will need to be entered the first time you use them.  You can save new instant start links at any time from the <a href="http://login.[% system_anchor_domain %]">EnterpriseLibre login</a> page.</p>
  <p>Enjoy!<br />
The EnterpriseLibre Team</p>
---
  <p>You received this email because you just changed the settings of your EnterpriseLibre user account. If this email reached you in error for any reason, please let us know immediately.</p>
 </body>
</html>
