<html>
 <body>
  <p>Dear [% first_name %] [% last_name %],</p>
[% IF is_reset == '1' %]
  <p>Your password has been changed by your cloud superuser to: [% password %]</p>
[% ELSE %]
  <p>Your password has been changed.</p>
[% END %]
  <p>If you have existing instant start links, your new password will need to be entered the first time you use them.  You can save new instant start links at any time from the <a href="http://login.[% system_anchor_domain %]">Cirrus Open login</a> page.</p>
  <p>Enjoy!<br />
The Cirrus Open Team</p>
---
  <p>You received this email because you just changed the settings of your Cirrus Open user account. If this email reached you in error for any reason, please let us know immediately.</p>
 </body>
</html>
