<html>
 <body>
  <p>Dear [% administrator_first_name %] [% administrator_last_name %],</p>
  <p>The password has been changed for [% first_name %] [% last_name %].</p>
  <p>For your information the desktop login credentials are as follows:</p>
  <ul>
   <li>Email Address: [% email_prefix %]@[% domain %]</li>
   <li>Password: [% password %]</li>
  </ul>
  <p>Enjoy!<br />
The Cirrus Open Team</p>
---
  <p>You received this email because the settings of a user with your Cirrus Open cloud were just changed. If this email reached you in error for any reason, please let us know immediately.</p>
 </body>
</html>
