<html>
 <body>
  <p>Dear [% first_name %] [% last_name %],</p>
  <p>Your desktop was rebooted. You can log in again.</p>
  <p>Enjoy!<br />
The Cirrus Open Team</p>
---
  <p>You received this email because you just changed the settings of your Cirrus Open user account. If this email reached you in error for any reason, please let us know immediately.</p>   
 </body>
</html>
