<html>
 <body>
  <p>Dear Superuser,</p>
  <p>The EnterpriseLibre desktop for [% first_name %] [% last_name %] has been created and a welcome email was sent to [% external_email %].</p>
  <p>For your information the desktop login credentials are as follows:</p>
  <ul>
   <li>Email Address: [% email_prefix %]@[% domain %]</li>
   <li>Password: [% password %]</li>
  </ul>
  <p>Enjoy!<br />
The EnterpriseLibre Team</p>
---
  <p>You received this email because you just subscribed to an EnterpriseLibre cloud. If this email reached you in error for any reason, please let us know immediately.</p>
 </body>
</html>
