#
# smtp.newvirtualorgs.net.cnf
#

[ req ]
prompt                  = no
distinguished_name      = smtp.newvirtualorgs.net

[ smtp.newvirtualorgs.net ]
commonName              = smtp.newvirtualorgs.net
stateOrProvinceName     = ON
countryName             = CA
emailAddress            = hostmaster@newvirtualorgs.net
organizationName        = newvirtualorgs
organizationalUnitName  = IT Department
