[Desktop Entry]
Name=Gnome Applet Reload
Comment=Ensures that the gnome panel applets have been loaded correctly
Exec=/usr/local/share/EnterpriseLibre/EnterpriseLibreGnomeAppletReload
Terminal=false
Type=Application
OnlyShowIn=GNOME;
NoDisplay=true
